@media screen and (max-width: 1000px){
    p {
        font-size: 1em !important;
    }
    .galleria {
        display: none !important;
    }
    #body div {
        width: 100% !important;
    }
    #body {
        height: 1200px !important;
        width: 100% !important;
        margin-left: 0% !important;
    }
    #photoBox {
        display: none !important;
    }
    #BoxImage {
        display: none !important;
    }

}
