@media screen and (max-device-width: 800px){
    p {
        font-size: 2em !important;
    }
    .galleria {
        display: none !important;
    }
    #LMenu {
        width: 100% !important;
    }
    #body div {
        width: 100% !important;
    }
    #header {
        width: 100%;
    }
    #WClock {
        display: none;
    }
    #body {
        height: 1200px !important;
        width: 100% !important;
        margin-left: 0% !important;
    }
    #photoBox {
        display: none !important;
    }
    #BoxImage {
        display: none !important;
    }

}
