body {
    background-image: url(Resources/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
}
.galleria {
    float: right;

}
#LMenu {
    width: 200px;
    height: 300px;
    position:fixed;
    visibility: hidden;
    background-color: black;
    border: 0.5em solid black;
    opacity: 0.9; 
    color: white;
    padding-left: -1.5%;
    list-style-position: hanging;
    border-radius: 10px;
    margin-top: -.5%;
}
#BoxImage {
    visibility: hidden;

}


#photoBox {
    opacity: 0.9;
    visibility: hidden;
    background-color: black;
    position: fixed;
    border-radius: 5px;
    margin-left: 13.5%;
    padding: 1%;
    height: 150px;
}
#LMenu  a:link {
    text-decoration: none;
    color: white;
    
    }
#LMenu a:visited {
    color: white;
}
#header {
    opacity: 0.9;
    vertical-align: middle;
    padding: 10px;
    font-size: 1em;
    background-color: beige;
    border-radius: 5px;
    list-style: none;
    margin-bottom: 10px;
    width: 200px;
    height: 25px;
    background-color: black;
    color: white;
}
#locations {
    width: 12%;
    float: left;
    background-color:beige;
    border-radius: 5px;
}

.specific {
    width:80%; 
    margin-left: 10%;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

    .specific:hover {
        border-style: dashed;
    
    }

div a p {
    margin:2%;
    margin-left: 2%;
    text-align: center;
}


#body {
    margin-left: 15%;
    height: 800px;
    width: 65%;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 2%;
    background: radial-gradient(white 75%, lightblue);

}
